<div class="my-container color-change-2x border-radius-10">
  <div class="card-center slide-in-elliptic-top-fwd border-radius-10">
    <mat-card class="border-radius-10">
      <img mat-card-image class="img-logo" src="assets/logo.png" alt="Logo">
      <h2 class="text-center-blue">Employee CheckIn</h2>
      <div class="form-control">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin:0 auto;">
          <mat-form-field class="input-block">
            <input required type="text" matInput placeholder="Username" name="username" ngModel />
          </mat-form-field>
          <mat-form-field class="input-block">
            <input  type="password" matInput placeholder="Password" name="password" ngModel/>
          </mat-form-field>
          <div>
            <button class="form-control" [disabled]="!f.valid" type="submit" mat-raised-button color="primary" style="width: 100%;">Login</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
